@font-face {
  font-weight: normal;
  font-family: "PT Sans - Narrow";
  font-style: normal;
  src: url("fonts/ptsansnarrow.woff2") format("woff2"), url("fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans - Narrow";
  font-style: normal;
  src: url("fonts/ptsansnarrowbold.woff2") format("woff2"), url("fonts/ptsansnarrowbold.woff") format("woff");
}
body {
  background: white;
  color: #000000;
  font-family: "PT Sans - Narrow";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
a {
  color: black;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header__logo {
  text-align: center;
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
