@font-face {
  font-weight: normal;
  font-family: "PT Sans - Narrow";
  font-style: normal;
  src: url("fonts/ptsansnarrow.woff2") format("woff2"), url("fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans - Narrow";
  font-style: normal;
  src: url("fonts/ptsansnarrowbold.woff2") format("woff2"), url("fonts/ptsansnarrowbold.woff") format("woff");
}
body {
  background: white;
  color: #000000;
  font-family: "PT Sans - Narrow";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
a {
  color: black;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header__logo {
  text-align: center;
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
.no_outline {
  outline: none;
  list-style: none;
  background: transparent;
}
.no_outline::before {
  display: none;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url('../img/back-tablet.jpg');
    background-repeat: no-repeat;
    background-position: center -9px;
  }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  .page-header__logo img {
    margin-top: 57px;
  }
}
.page-header,
.page-header__logo {
  outline: none;
  list-style: none;
  background: transparent;
}
.page-header::before,
.page-header__logo::before {
  display: none;
}
.page-header__logo {
  background: rgba(255, 255, 255, 0.5);
}
.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .site-list {
    width: 570px;
  }
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
  .site-list {
    width: 760px;
  }
  .user-list {
    width: 130px;
  }
}
.block-mock {
  height: 390px;
}
@media (min-width: 768px) {
  .block-mock {
    height: 469px;
  }
}
@media (min-width: 1200px) {
  .block-mock {
    height: 720px;
  }
}
@media (min-width: 320px) {
  .stats {
    width: 320px;
    margin: 0 auto;
  }
  .stats__header {
    padding: 31px 38px 29px 38px;
  }
  .stats__list {
    width: 100%;
  }
  .stats__legend--bottom {
    display: none;
  }
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -184px;
  }
  .stats__header {
    padding: 20px 75px 31px 40px;
  }
  .stats__list {
    display: flex;
    width: 640px;
  }
  .stats__legend--bottom {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    width: 240px;
  }
  .stats__list {
    display: flex;
    width: 640px;
  }
  .stats__legend--bottom {
    display: none;
  }
}
