body {
  background: white;
  color: #000000;
  font-family: "PT Sans - Narrow";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
a {
  color: black;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.no_outline {
  outline: none;
  list-style: none;
  background: transparent;
}
.no_outline::before {
  display: none;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  height: 85px;
}
@media (min-width: 320px) {
  .page-header__logo {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}
.page-header,
.page-header__logo {
  outline: none;
  list-style: none;
  background: transparent;
}
.page-header::before,
.page-header__logo::before {
  display: none;
}
.page-header__logo {
  background: rgba(255, 255, 255, 0.5);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 320px) {
  .main-nav {
    width: 320px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .site-list {
    width: 570px;
  }
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
  .site-list {
    width: 760px;
  }
  .user-list {
    width: 130px;
  }
}
.block-mock {
  height: 390px;
}
@media (min-width: 768px) {
  .block-mock {
    height: 469px;
  }
}
@media (min-width: 1200px) {
  .block-mock {
    height: 720px;
  }
}
@media (min-width: 320px) {
  .stats {
    width: 320px;
    margin: 0 auto;
  }
  .stats__header {
    padding: 31px 38px 29px 38px;
  }
  .stats__list {
    width: 100%;
  }
  .stats__legend--bottom {
    display: none;
  }
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -184px;
  }
  .stats__header {
    padding: 20px 75px 31px 40px;
  }
  .stats__list {
    display: flex;
    width: 640px;
  }
  .stats__legend--bottom {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    width: 240px;
  }
  .stats__list {
    display: flex;
    width: 640px;
  }
  .stats__legend--bottom {
    display: none;
  }
}
